.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
div  a {
    color: #fff;
    text-decoration: none;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.background-image {
    background-image: url(./images/background.jpg);
    width: 100%;
    margin: 0;
}

.background-image > h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.background-image > h2 {
    text-align: center;
}

#meet {
    display: block;
}

#intro > h1 > img {
    border-radius: 50%;
    width: 120px;
}

h1 {
    background-color: #8aecff;
    padding-top: 100px;
    padding-bottom: 200px;
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    text-align: center;
}